mixin profile()
  +b.profile&attributes(attributes)
    +e.header
      +e.H1.title Мой профиль в Royal Breeder Club
      +button()._white.profile__btn Написать менеджеру Royal Canin
    +swiper()
    +e.wrapper
      +user-data()
      +cattery()
      +services()
