mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container
      +e.P.copyright © 2009–2018 Royal Canin ®
      +e.UL.list
        +e.LI.item
          +e.A.link(href="#") Пользовательское соглашения
        +e.LI.item
          +e.A.link(href="#") Конфиденциальность
        +e.LI.item
          +e.A.link(href="#") Правовая информация
        +e.LI.item
          +e.A.link(href="#") Владелец сайта
        +e.LI.item
          +e.A.link(href="#") Уведомление для родителей
        +e.LI.item
          +e.A.link(href="#") Карта сайта

